<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration   PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <typeAliases><!-- 别名 -->
      <typeAlias alias="role" type="wenqi.Role"/>
  </typeAliases>
  <typeHandlers>
    <!--显示使用TypeHandler可以不用配置这里-->
    <!--使用注解可以免除JavaType和jdbcType的配置-->
    <!--<typeHandler javaType="[Ljava.lang.String" jdbcType="varchar" handler="TypeHandler.StringArrayTypeHandler"/>-->
    <typeHandler handler="TypeHandler.StringArrayTypeHandler"/>
  </typeHandlers>
  <!-- 数据库环境 -->
  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost:3306/ssm"/>
        <property name="username" value="root"/>
        <property name="password" value="19930828"/>
      </dataSource>
    </environment>
  </environments>
  <!-- 映射文件 -->
  <mappers>
    <mapper resource="wenqi/RoleMapper.xml"/>
    <mapper resource="TypeHandler/StudentMapper.xml"/>

    <mapper resource="multiAssociation/pojo/TaskMapper.xml"/>
    <mapper resource="multiAssociation/pojo/WorkCardMapper.xml"/>
    <mapper resource="multiAssociation/pojo/EmployeeTaskMapper.xml"/>
    <mapper resource="multiAssociation/pojo/MaleHealthFormMapper.xml"/>
    <mapper resource="multiAssociation/pojo/FemaleHealthFormMapper.xml"/>
    <mapper resource="multiAssociation/pojo/EmployeeMapper.xml"/>
  </mappers>
</configuration>